<div class="main">
	<div class="content">

		
		
		<app-create-transaction/>
		
		<h3 class="accounts">Accounts</h3>
		
		
		<table mat-table [dataSource]="accounts$">
			<ng-container matColumnDef="account">
				<mat-header-cell *matHeaderCellDef i18n="executedAt"> Account</mat-header-cell>
				<mat-cell *matCellDef="let trx"> {{trx.accountName}} </mat-cell>
				<mat-footer-cell *matFooterCellDef></mat-footer-cell >
			</ng-container>
		
		
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="'/account/' + row.accountName + '/transaction'"  class="row-link"></mat-row>
			<mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
		</table>
		
		
	</div>
</div>